SERVICE_NAME=trainer-service
PORT=8004
MONGODB_URL=mongodb://mongo:27017
MONGODB_DB_NAME=trainersync
REDIS_URL=redis://redis:6379
DOCUMENT_SERVICE_URL=http://document-service:8006
INTELLIGENCE_SERVICE_URL=http://intelligence-service:8005
