SERVICE_NAME=scheduler-service
PORT=8007
MONGODB_URL=mongodb://mongo:27017
MONGODB_DB_NAME=trainersync
REDIS_URL=redis://redis:6379
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1
EMAIL_SERVICE_URL=http://email-service:8002
NOTIFICATION_SERVICE_URL=http://notification-service:8003
