SERVICE_NAME=notification-service
PORT=8003
MONGODB_URL=mongodb://mongo:27017
MONGODB_DB_NAME=trainersync
REDIS_URL=redis://redis:6379
AISENSY_API_KEY=
AISENSY_CAMPAIGN_NAME=trainersync_campaign
AISENSY_TAGS=trainersync
